# Entornos virtuales (¡Súper importante para no subir miles de archivos!)
.venv/
venv/
env/

# Archivos de compilación de PyInstaller
build/
dist/
*.spec

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos de configuración de Visual Studio Code (opcional pero recomendado)
.vscode/

# Archivos ocultos del sistema operativo (Windows/Mac)
Thumbs.db
.DS_Store